body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
}

.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}

.input-container {
    width: 100%;
    margin-bottom: 20px;
    max-width: 800px;

}

label {
    display: block;
    margin-bottom: 8px;
    color: #606778;
}

input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f5;
    height: 40px;

}

input:focus {
    border-color: #077EE8;
    outline: none;
}

.icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #606778;
}

button.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #077EE8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    max-width: 400px;
}

button.submit-btn:hover {
    background-color: #005bb5;
}

.input-container {
    position: relative;
}