body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #f0f0f0; */
    height: 100vh;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.checkmark-icon {
    font-size: 72px;
    color: #4CAF50;

}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
}

p {
    text-align: center;
    color: #606778;
    margin-bottom: 30px;
}

button.resend-btn {
    padding: 15px 40px;
    background-color: #077EE8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button.resend-btn:hover {
    background-color: #005bb5;
}