.profile-card {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 400px;
    align-items: center;
    margin: auto;

}

.profile-image-container {
    position: relative;
    display: inline-block;
}

.profile-image {
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.icon-container {
    position: absolute;
    bottom: -1px;
    right: -2px;
    background-color: blue;
    border-radius: 50%;
    width: 26px;
    /* Adjust the width */
    height: 26px;
    /* Adjust the height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-icon {
    color: white;
}