.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px 24px 24px rgba(0, 0, 0, 0.25);
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.shapes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.shape-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height: 100px;
}
.shape-container img {
    background-color: #AF9F9F;
    display: block;
    max-width: 100px;
    max-height: 100px;
}

.shape-name {
    font-size: 12px;
    margin-top: 10px; 
    text-align: center; 
    word-wrap: break-word;
    overflow-wrap: break-word; 
    white-space: normal; 
    max-width: 100px; 
}

.selected-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(80, 38, 232, 0.5);
}

.delete-button {
    align-self: flex-start;
    background-color: red !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
}

/* NUMBER INPUT SPINNER */

.custom-spinner {
    display: flex;
    align-items: center;
  }
  
  .decrement-button,
  .increment-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .decrement-button:disabled,
  .increment-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .quantity-display {
    margin: 0 10px;
    font-size: 18px;
    min-width: 30px;
    text-align: center;
  }